*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
    
    /* padding-top: 11%; */

}

.center-web-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55em;
}

.bkgrnd-color{
    background: rgb(108,99,255);
    background: radial-gradient(circle, rgba(108,99,255,1) 35%, rgba(99,194,255,1) 100%);

    height: 100vh;
    /* background-image: url("Assets/Background-Imgs/Atmosphere/mist.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    

}



/* //////////////
LAYOUT
///////////// */

.info-display-toggle{
    display: none;
}

.search-location-img{
    width: 90%;
}

.weather-app-container {
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 35%;
    min-height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 1.5em;
}

.temp-display-card{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.temp-display-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 1.5px solid rgba( 255, 255, 255, 0.5 ); */
    text-align: center;
    margin-bottom:2em;
    width: 45%;
}


.details-display-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 90%;
}

/* .humidity-container{
    margin-left:1.5em;
} */

.search-container{
    display: flex;
    justify-content: center;
}

.humidity-container,
.wind-container,
.sea-lvl-container,
.pressure-container{
    border-radius: 10px;
    border: 1.5px solid rgba( 255, 255, 255, 0.5 );
    width: 45%;
    padding: 1em;
}

.sea-lvl-container,
.pressure-container{
    margin-top: 1em;
}


input,
button{
    padding: 1em;
    border-radius: 3.125em;
    border: 1.5px solid rgba( 255, 255, 255, 0.5 );
    background-color: rgba( 255, 255, 255, 1 );
}

button{
    cursor: pointer;
}

.search-container
/* .details-display-container */
 {
    /* border: 1px black solid; */
    margin-bottom: 3em;
}

.wind-image-container,
.humidity-image-container,
.sunrise-container,
.sunset-container,
.sea-lvl-image-container,
.pressure-image-container{
    display: flex;
    align-items: center;
}

.sunrise-container,
.sunset-container{
    align-items: baseline;
}

.city-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.wind-image,
.humidity-image,
.sea-lvl-image{
    margin-right: 0.25em;
    /* border: 1px solid magenta; */
    color: white;
    font-size: 1.5rem;
}


.humidity-detail,
.wind-detail,
.sea-lvl-detail,
.pressure-detail {
    margin: 0;
}



/* .temp-image{
    height: 10em;
    width: 10em;
} */

/* .temp-display-container,
.details-display-container{
    display: none;
} */

.temp-display-card{
    display: flex;
    justify-content: space-between;
}

.detailed-temp-display-container{
    border: 1.5px solid rgba( 255, 255, 255, 0.5 );
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: bold;
    width: 45%;
}

.sunset,
.sunrise,
.pressure{
    margin-left: 0.5em;
}

/* /////////
TYPOGRAPHY  
///////////*/

.enter-city-name-text{
    /* color: #6c63ff; */
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 1.5em;
}

.temp-text,
.city-text,
p{
    color: rgba( 255, 255, 255, 1 );
}

.temp-text {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}



.description,
.city-text {
    font-size:1.5rem;
    margin: 0;  
}

.city-text{
    margin-top: 0.5em;
    margin-left: 0.5em;
}


.bold-text{
    font-weight: bold;
}

.humidity-detail,
.wind-detail,
.sea-lvl-detail,
.pressure-detail {
    font-size: 1.75rem;
}

/* /////////
MEDIA QUERY 
////////////*/

@media (min-width:360px) and (max-width: 675px) {

    .center-web-container{
        height: 100%;
    }

    .weather-app-container {
        width: 95%;
    }

    .search-container{
        padding: 0;
        width: 100%;
    }

    input{
        width:70%;
    }

    .temp-display-card{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .detailed-temp-display-container,
    .detailes-display-container{
        width: 90%;
    }

    .details-display-container{
        margin-left: 0;
        margin-right: 0;
    }

    .detailed-temp-display-container{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .weather-app-container{
        height: 100%;
    }
}